[class*=bbcode-] {margin:-6px -2px; display:inline-block}
a.bbcode-u span {width: 12px;}
.bbcode-center span {background-position:-171px 2px;margin-right: 2px}
.icon-align-center{font-size: 14px; margin: -6px -1px; padding: 6px;width: 24px;height: 24px;}
.icon-underline {font-size: 14px; margin: -6px -1px; padding: 6px;width: 24px;height: 24px;}


